
@{
    ViewData["Title"] = "PlayCoinflip";
}

<h1>Welcome to coinflip!</h1>
<p>To play all you have to do is pick what side you want to bet on and tell us how much you want to bet!</p>
<br />
@if (ViewBag.test != null)
{
    <div class="collection-data">
        <p>@ViewBag.test</p>
        test
    </div>
}
<form asp-controller="Game" asp-action="PlayCoinflip" method="post">
    <div class="form-group">
        <input type="radio" name="coin" value="heads" /> <label>Heads</label>
        <br />
        <input type="radio" name="coin" value="tails" /> <label>Tails</label>
    </div>
    <div class="form-group">
        <label for="bet">Bet:</label>
        <input type="text" name="bet" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" name="Play" value="Play" />
    </div>
</form>
