@{
    ViewData["Title"] = "About";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<main id="games">
	
	<h1>Games</h1>
	<ul>
		<li><h2 id="coinflip"><a href="#">What is the coinflip game?</a></h2>
		
			<h3>The coinflip game</h3>
			<p>Play the coinflip game. Choose either heads or tails. If you choose correctly you win, or else you lose. Your chances are 50/50.</p>
	</li>
		<li><h2 id="blackjack"><a href="#">What is BlackJack?</a></h2>
		
			<h3>BlackJack</h3>
			<p>To win a blackjack, you are dealt two cards. Sum the cards and get closer to 21 than the dealer without going over.</p>
	</li>
		<li><h2 id="holdem"><a href="#">What is Hold'em Poker?</a></h2>
			<h3>Hold'em Poker</h3>
			<p>You are dealt two cards. Use your cards with the community cards on the board to make the best five card poker hand. Beat the dealer and you win.</p>
		</li>
	</ul>

</main>