@{
    ViewData["Title"] = "Bank";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Bank</title>
</head>
<body>
    <h2>Welcome to @ViewBag.Bank.Name!</h2>
    <p>You approach the bank teller. Here are the loans they are willing to offer...</p>
    <form asp-action="Borrow" method="post">
        @foreach (decimal loanOption in ViewBag.Bank.LoanOptions)
        {
            <p><input type="radio" value="@loanOption" />&nbsp;@loanOption</p>
        }
        <input type="submit"/>
    </form>
</body>
</html>


