
@{
    ViewData["Title"] = "Play";
}

<div class="user-info">
    <h4>Name: @ViewBag.User.Name</h4>
    <h4>Bankroll: $@ViewBag.User.Bankroll</h4>
</div>

<div class="choose-game">
    @foreach (var game in ViewBag.Games)
    {
    <div class="col-md-3 col-xs-3">
        <span class="game-name">@game.Name</span>
        <br />
        <span class="game-rules">
            @foreach (var rule in game.Rules)
            {
                @rule
            }
        </span>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="GameSetup"><input type="button" class="btn btn-default" value="Play" /></a>
    </div>
    }
</div>
