
@{
    ViewData["Title"] = "Contact";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<ul id="image_list">
	<li><a href="~/images/coinflip.jpg" title="Coinflip"></a></li>
	<li><a href="~/images/maxresdefault-12.jpg" title="Blackjack"></a></li>
	<li><a href="~/images/texas-holdem-poker.jpg" title="Hold'em Poker"></a></li>
</ul>
<p><img src="~/images/coinflip.jpg" alt="Coinflip" id="image" /></p>
<h2 id="caption">Coinflip</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
