
@{
    ViewData["Title"] = "Games";
}

<h2>Choose a game to play!</h2>


<div class="choose-games">
    @foreach (var game in ViewBag.Games)
    {
        <div class="thumbnail">
            <div class="thumbnail-inner">
                @game.Name
                <br/>
                @game.Rules
            </div>
        </div>
    }
</div>
