
@{
    ViewData["Title"] = "Cashier";
}

<h2>You approach the cashier...</h2>
<p>They give you a cordial greeting and ask you how much money you'd like to cash in for chips.</p>
<p>You look in your wallet. You have: @ViewBag.User.Bankroll</p>
<form method="post" action="">

</form>